header{
    background:#fff url(./Images/header.jpg) center top/cover no-repeat;
    padding: 1%;
    margin: -1%;
}
#titre{
    align-items: baseline;
}

#panier {
    position: relative;
}
#panier img {
    position: fixed;
    width: 5%;
    top: 10px;
    right: 10px;
}
#profile {
    position: relative;
}
#profile img {
    position: fixed;
    width: 5%;
    top: 10px;
    right: 100px;
}

header h1,header a{
    display: inline-block;
    color: beige;
    
}

body {
    font-family: "Trebuchet MS";
}
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    background-color: #ccc;       /* Ajout de la couleur d'arrière-plan */
    justify-content: space-around;/* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #1ABC9C;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid rgb(255,255,255);       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #000 ; 
    color: #1ABC9C ;
    border-color: #1ABC9C ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #ed2794;
    color: #ffe843;
    border-color: #656565;
}

.rayons{
    display: inline-block;
    width: 24%;
   
}
.magasin{
  margin: 2%;
  padding: 2%;
  
}
footer{
    background-color:rgb(145, 145, 145);
}
footer a{
    margin-right: 17.4%; 
}