html{
    background: #fff url(./Images/Accueil/Yellowdesktop.jpg);
}

#titre{
    color: beige;
    font-style: oblique;
    font-weight: 700;
}
#titre{
    align-items: baseline;
}

#panier {
    position: fixed;
}
#panier img {
    position: fixed;
    width: 5%;
    top: 10px;
    right: 10px;
}
#profile {
    position: fixed;
}
#profile img {
    position: fixed;
    width: 5%;
    top: 10px;
    right: 100px;
}

header{
    background:#fff url(./Images/header.jpg) center top/cover no-repeat;
    padding: 1%;
    margin: -1%;
    position: static;
}

header h1,header a{
    display: inline-block;
}

body {
    font-family: "Trebuchet MS";
}
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    background-color: transparent;       /* Ajout de la couleur d'arrière-plan */
    justify-content: space-around;/* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    
    margin: 0.4rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #2b730b;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid rgb(255,255,255);       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #fff ; 
    color: #2b730b ;
    border-color: #2b730b ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #e89716;  
    color: #ffe843;
    border-color: #fff;
}

.sliderAccueil {
    width: 100%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 10000px;
    background-color: pink;
    height: 10px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  #slide-4:target ~ .image-container {
    left: -1500px;
  }
  #slide-5:target ~ .image-container {
    left: -2000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
  }
.rayons{
    display: inline-block;
    width: 24%;
   
}

.rayons p, .rayons input{
    display: inline;
}
.magasin{
  margin: 2%;
  padding: 2%;  
  background: white;
}

footer{
    background-color:rgb(145, 145, 145);
}

footer a{
    margin-right: 17.4%; 
}

.form-popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 40%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
}
.form-container {
    max-width: 300px;
    padding: 10px;
}
.form-container .btn {
    background-color: rgb(8, 96, 14);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.form-container .cancel {
    background-color: red;
  }



.Ajouter{
    background-color: rgb(8, 96, 14);
    color: white;
    cursor: pointer;
    border: none;
    padding: 2%;  
}
footer{
    background-color:#e89716;
}
table{
    width: 100%;
}
td, th{
    text-align: left;
}
#infos, #adresse1, #adresse2{
    width: 33%;
    text-align: left;
    margin-top: 0%;
}
ul{
    list-style-type: none;
}

.footmod li{
    display: inline-block;
}

.footmod img{
    width: 10%;
}

.row {
    display: flex;
  }

.colonneCap {
    flex: 90%;
    padding: 5px;
    margin: 15px;
    text-align: center;
}
.colonneHoss {
    flex: 90%;
    padding: 5px;
    margin: 15px;
    text-align: center;
}

.row img{
    width: 95%;
}